.profile-container {
  width: 90%;
  max-width: 500px;
  margin: 40px auto;
  background-color: #fff0f5;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.profile-image-top img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #f8bbd0;
  object-fit: cover;
  margin-bottom: 20px;
}

/* Table Styles */
.profile-table {
  width: auto; 
  margin: 0 auto 20px; 
  border-collapse: collapse;
  text-align: left;
}

.profile-table th,
.profile-table td {
  padding: 12px 15px;
  border-bottom: 1px solid #f8bbd0;
  font-size: 16px;
  color: #4a155c;
}

.profile-table th {
  width: 40%;
  color: #3b003f;
}

/* Buttons */
.button-group {
  display: flex;
  justify-content: center; 
  gap: 20px;
  margin-top: 10px;
}

.edit-btn,.logout-btn {
  background-color: #f8bbd0;
  color: #4a155c;
  border: none;
  border-radius: 8px;
  padding: 10px 25px;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
}


.edit-btn:hover,
.logout-btn:hover {
  opacity: 0.85;
}

/* Responsive */
@media (max-width: 600px) {
  .profile-container {
    padding: 20px;
  }

  .profile-table th,
  .profile-table td {
    padding: 10px 8px;
    font-size: 14px;
  }

  .button-group {
    flex-direction: column;
  }
}
